/week 4/Kasus1/nbproject/private/
/week 4/Kasus1/build/
/week 4/Inventori/nbproject/private/
/week 4/Inventori/build/
/week 4/UpinIpin/nbproject/private/
/week 4/UpinIpin/build/
/week 4/KelasSatu/nbproject/private/
/week 4/KelasDua/nbproject/private/
/week 4/KelasDua/build/
/week 5/RestaurantMain/nbproject/private/
/week 5/NarutoAnime/nbproject/private/
/week 5/NarutoAnime/build/
/week 5/RestaurantMain/build/
